@import "tailwindcss";

@theme {
  --color-arcano-main: #ffd54f;
  --color-arcano-sec: #7b1fa2;
  --color-arcano-ter: #ff8f00;
  --color-arcano-bg: #1a161d;
  --color-arcano-surface: #161219;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-arcano-bg);
  color: white;
}