@import "tailwindcss";

@theme {
  --color-arcano-main: #ffd54f;
  --color-arcano-sec: #7b1fa2;
  --color-arcano-ter: #ff8f00;
  --color-arcano-bg: #1a161d;
  --color-arcano-surface: #161219;
}

body {
  background-color: var(--color-arcano-bg);
  color: white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

